<b>Odin</b><br>
<br>
<i>(about "doublespeaker rhyme": line in regular text<br>
and line in italics directly beneath it are sung<br>
simultaneously, each panned hard to one speaker)</i><br>
<br>
Mr. Odin died today.<br>
<br>
Lights off, from your hiding place of retreat emerged.<br>
<i>By lot, once more trifling tref must reseed the earth.</i><br>
This fridge's gallery in web's wake was strewn,<br>
<i>Indifferent galaxies instead stay unmoved;</i><br>
silent poll of colours overused. <br>
<i>sigh and pull the covers over you.</i><br>
This latest piece you drew with crayons least whittled...<br>
<i>In safest sleep, you ruminate on these riddles...</i><br>
<br>
The house settled in sheets, you swing the iron screen.<br>
<i>But how dreadful indeed, do sweet dream's ichors seem!</i><br>
By the alabaster balustrade,<br>
<i>Like a salamander shall await</i><br>
baby steps inch towards crevice rays.<br>
<i>trading breath's bliss for present bane.</i><br>
<br>
Then down stygian stairs,<br>
<i>And how stingy and scarce</i><br>
through sickle-lit oriental streets.<br>
<i>proves shibboleth for these gentle means!</i><br>
Raccoons rummage round some rubbish bags,<br>
<i>As you plummet down from couplets past;</i><br>
till a rickshaw hiccoughs from grating cracks.<br>
<i>still, but missed bat mitzvahs come racing back.</i><br>
You seek the dunes once deemed a haven<br>
<i>To dreams of whom does each one cave in</i><br>
that was safe for a heathen...<br>
<i>as a slave for the seasons?</i><br>
<br>
And if flutters with the fairest<br>
<i>And if summer trips to Paris</i><br>
were just sins simply dreamt,<br>
<i>weren't just myths between friends,</i><br>
could some bottled butterfly dream your whims instead?<br>
<i>would the rondel of her eye be stored in this neck?</i><br>
What's more, if all you live for still die at the end--<br>
<i>But cored gifts fall to discord till lives acquiesce,</i><br>
like Odin's ashes back from the Society,<br>
<i>by opened latches that come undone by undine--</i><br>
which filled a chasm dug up underneath--<br>
<i>which spilled a basket among other things--</i><br>
can that which kills a cat spare his home if spread?<br>
<i>a casket tilted back where its hopeless rests.</i><br>
<br>
You researched a gleam<br>
<i>Your seizures of spleen,</i><br>
to be a guard's whistle at your feet,<br>
<i>you see the jarred sibyl had foreseen</i><br>
and brought your raft behind the yellow-taped grills<br>
<i>as not for wrapping by a cellophane sylph,</i><br>
to stand onshore keen to drift if shark swarms withheld.<br>
<i>who cannot warm he who didn't impart warmth himself.</i><br>
<br>
Buoy bobs through sea serpents,<br>
<i>Coin toss to be hers from</i><br>
shivering for shivs unsheathed.<br>
<i>shivaree towards shivah seat</i><br>
As roller coasters of waves comfort sighs,<br>
<i>has pulled your floater away from your sight.</i><br>
you frame silhouettes of torn rides<br>
<i>You chase till dew sheds from your eyes</i><br>
in your dim, lingering gaze,<br>
<i>with your beleaguered remains,</i><br>
a victim of erosion.<br>
<i>amidst dustbunnies frozen.</i><br>
<br>
Should you hide, or could you fight,<br>
when your day to die has come?<br>
<i>Can a holed up hostage<br>
pray for soulless solace and just play dumb?</i><br>
But in time, wouldn't you find life is simply much too long?<br>
<br>
But for a foetus force-fed, born preaborted,<br>
<i>Yet your defeat of tortoise, forced lead unthwarted,</i><br>
your ouija board said, "Son, just hum along."<br>
<i>sworn feat aforesaid, doesn't come anon.</i><br>
<br>
Though, no slave parts these seas,<br>
<i>Though, no grey starling's beak</i><br>
then returns them as a buffer zone.<br>
<i>can reach urchins smashed from undertows.</i><br>
The sudsy ocean shapes its padded bed,<br>
<i>But suddenly Odin's day is at its end;</i><br>
which hitherto snubbed and spurned a wreck,<br>
<i>his litter to dust and earth was swept,</i><br>
while mermaids smile past a guileless garden gnome...<br>
<i>while Thursday's child has a mile less far to go...</i><br>