<b>Cremated</b><br>
<br>
<i>(about "doublespeaker rhyme": line in regular text<br>
and line in italics directly beneath it are sung<br>
simultaneously, each panned hard to one speaker)</i><br>
<br>
Or another... <br>
<br>
Atavist stuck feet first,<br>
<i>At a vista, key turned</i><br>
subversive inner lotus eater, <br>
<i>to first switch in her low two-seater, </i><br>
an everlasting doublespeaker,<br>
<i>and deaf from blasting frontal speakers, </i><br>
his beaten wit and id she's deemed her sinking ship, <br>
<i>this phoenix risen limp beneath her pinkish slip, </i><br>
maybe good for anecdotes.<br>
<i>making scroonched her pantyhose.</i><br>
As comedy teams work, a hoot the times<br>
<i>His god humming Freebird, the hula guy</i><br>
not at each other's throats. <br>
<i>nods as she drums her toes. </i><br>
<br>
Trophy bronzed from a Trojan<br>
<i>Though, she ponders the children</i><br>
for some unforeskinned virgin, <br>
<i>born from a forced conversion</i><br>
on the shelf, serves his declared assertion: <br>
<i>on a self-servicing cleric surgeon</i><br>
to remain inherently perfect, <br>
<i>duly may inherit his burdens. </i><br>
as worn puppet his offscreen person dubs. <br>
<i>This swarm pumped and kissed off, she purges up, </i><br>
His silent dramedy works better; <br>
<i>despite once promising forever, </i><br>
twitching sword in care, he's anyone. <br>
<i>which she swore when scarcely twenty-one. </i><br>
<br>
Needle done will not retract, <br>
it hums a typo fragile ex passed through ash... <br>
With his vinyl, exit Miriam to cash his stash.<br>
Undeluded, she'll bask in selfish cut-off jeans, <br>
and in her pool, hears not a worrisome "Bless her, Godspeed..." <br>
<br>
The key turned and she floors it, <br>
<i>The seat hurt when he lowered it, </i><br>
so homeward the sport's escorted, <br>
<i>though no worse but for his soreness,</i><br>
the cleaved horizon pours the mortar in.<br>
<i>this geezer's life-support's abortive.</i><br>
Redressed, he gets his notice, short an<br>
<i>He's vegging with his boner shortened; </i><br>
apology, bold and blunt. <br>
<i>a pop, and she pulls the plug. </i><br>
Life's a dumb ex-dromedary, hungry carrying<br>
<i>Lights one up then draws a daring puff, preparing</i><br>
this groovy second hump. <br>
<i>the scoop, he's getting dumped. </i><br>