<b>Young Rosalind at the World's Fair</b><br>
<br>
Rosalind, sundialers know to wait.<br>
This turn before their time, it's just a ride.<br>
At day's end, everybody wins,<br>
so none need chase the shade.<br>
Let's sit and wait, dear, you and I!<br>
<br>
Rosalind spins her pleats beside the entrance stiles,<br>
a curtsy winning some weakened smiles<br>
from scattered sighs too late to chase the train.<br>
With rumbles swirling through her ears,<br>
she gently tilts and sifts to hear<br>
the whistle to whisk them from Calais!<br>
<br>
Rosalind, let's nap, it's just a ride!<br>
Tomorrow we'll race, dear, you and I!<br>
<br>
Rosalind snubs her brothers though a fan of heights,<br>
for Miss Curie's ghost holds a curious sight.<br>
Her beaker gleams with light,  and then she fades.<br>
The crowd applauds, yet all the while<br>
a hidden glass between the tiles<br>
fails to shake off young Rosalind's gaze.<br>
<br>
"Rosalind, come once, it's just a ride!<br>
Let's soar through space, dear, you and I!"<br>
<br>
But once we doubt, we doubt it all.<br>
Today she vows to count her falls,<br>
inching across the platform grates...<br>
<br>
Rosalind, watch winders know to pace.<br>
Each turn to keep in time, it's sure no ride!<br>
But if we're mindful of the glints,<br>
glass walls may guide our way.<br>
Let's set a pace, dear, you and I!<br>
Oh, let's set a pace, dear, you and I!<br>