<b>All the Peppy Paulinas</b><br>
<br>
No stay-at-home biddy knitting yarn,<br>
slide rules and sextants fill her arms.<br>
Tomorrow's feminine charms,<br>
and today, a Paulina girl!<br>
<br>
Her tresses crown a candid face,<br>
perfection frowns on addled haste.<br>
Sketching by sight, not trace<br>
is what makes a Paulina girl!<br>
<br>
Springtime for maths, and arts in fall,<br>
in evening labs, they're shaking walls,<br>
contending for new careers.<br>
Three cheers for ol' St. Paul's!<br>
<br>
The gunshot rings. A dash in Morse,<br>
then across the green by semaphore.<br>
Steady nerves, steady scores...<br>
In first place, our Paulina girls!<br>
<br>
Each strand of knowledge, if but a scratch,<br>
adds to the polish of St. Paul's class.<br>
A looking glass shining back,<br>
is a beaming Paulina girl!<br>
<br>
With half the praise for twice the work,<br>
she stakes her claim where men came first,<br>
and knows what pure intuition<br>
in a woman's word is worth...<br>
<br>
So as science exposes unpeeling clues,<br>
She'll take some notes, but stay unmoved,<br>
barring straight concrete proof...<br>
The world awaits our Paulina girls!<br>