<b>Coffee in a Crucible</b><br>
<br>
Rosalind sketches a crystalline lattice<br>
for a pattern filmed from diffracted rays.<br>
Chasing shapes, like pups lick their napes<br>
or a sun grasping shadows.<br>
<br>
Full moon aperture fleshes still phantoms,<br>
laboured nights collecting in its camera.<br>
Atom squiggles blend with sunspots on her lens,<br>
a breeze from the Seine kindly blows.<br>
<br>
Warm in wayward spring,<br>
threading nests with gathered needles and string.<br>
Those finches left with none to bring,<br>
give feathers from their own wings.<br>
<br>
Carbon crumb unchanged under pressure,<br>
graphite layers and porous textures zoomed.<br>
Combing dunes, till lunch hour troops<br>
swoop in for a daring rescue.<br>
<br>
Heated topics in sugared spoonfuls,<br>
scholars sipping coffee in crucibles.<br>
Glances towards the peaks remind the lab to shrink,<br>
her notes for the week then reviewed.<br>
<br>
On a Pyrenean bluff,<br>
threading in her arches worn by the rough.<br>
But we all wear away for what we love,<br>
just ask the history buffs!<br>
<br>
And they might start with this paper<br>
published in <i>Nature</i><br>
on non-graphitising carbons.<br>
Now King's College waits<br>
back across the strait.<br>
She eyes the fog so disheartened...<br>
<br>
Rosalind's logbooks shuffled in order,<br>
echoed kiss careering down these corridors.<br>
"Ch&egrave;re mademoiselle, all of Paris bids you well.<br>
The flocks shall foretell your return."<br>
<br>
Wet, the wily finch,<br>
lagging by the Seine to highlight his tints.<br>
For we all call ourselves by where we've been,<br>
just like the westerly winds!<br>