<b>Ruptures</b><br>
<br>
Love, don't be sad; handshakes can bruise.<br>
Their loud gift of gab, I hate it too.<br>
<br>
Oh, but safe tunnel visions will guide us,<br>
and fate's a funnel shaped at its end.<br>
So whatever shape we'll take, dear, have faith:<br>
It's always to ourselves we're led.<br>
<br>
In a hallway of King's, we ponder this lock.<br>
A guard at his keep. Rosalind, my thoughts:<br>
<br>
Keys with more teeth keep them safer.<br>
Well, we'll cut--then bare--our teeth too!<br>
So let their whispers fade, self-contained<br>
to this male-only lounge room.<br>
<br>
We'll build us a shed<br>
and from inside we'll plan<br>
our silent advance through the dregs,<br>
with drills placed ahead.<br>
Though tumblers may crash,<br>
unruptured, we'll pass into breath.<br>
<br>
The vespers unheard, a lab to ourselves.<br>
Connections, we EARN. Let none stoop to help!<br>
<br>
But do some tunnel visions just grind us<br>
down in the tip of a cone?<br>
Now with our sights derailed, should we fail,<br>
even this we'll never know.<br>
<br>
For cells only shed<br>
hardened skin from inside,<br>
so all we've collided against<br>
will fill up our heads<br>
with no room to divide<br>
into our own line of defence.<br>