<b>Photograph 51</b><br>
<br>
Let the rabble-rousing f&#252;hrer<br>
practise postures in his mirror,<br>
twisting anthems into drills,<br>
pierced hearts will consent.<br>
Still, industry and toil<br>
win the victory and spoils in the end!<br>
<br>
Rosalind, oh Rosalind!<br>
Our fortress walls proudly gleamed.<br>
Each stone polished down to its sheen,<br>
with no filler spread in between.<br>
<br>
We researched through the Blitz,<br>
war swung in our favour.<br>
We, who crouched in ashen pits!<br>
<br>
That tented labs should prove<br>
to right our wrong labours,<br>
the day the sun leapt through...<br>
<br>
Now Rosalind, oh Rosalind!<br>
Our paws may plough the aching snow<br>
for maps buried ages ago,<br>
entombed in the cities they know.<br>
<br>
They raced the sinking sands<br>
on half-broken ladders<br>
we uncoiled into strands.<br>
<br>
But when their fortunes ride<br>
on unspoken matters<br>
that run their sources dry...<br>
<br>
In a bird's eye over tundra,<br>
bastions burst out from penumbrae,<br>
while the trickled thaw of spring<br>
might heal the world's wells.<br>
But ripples in the currents<br>
slowly crippled all our turrets, and we fell.<br>
<br>
And Rosalind, oh Rosalind!<br>
Were prayers whispered to our beds<br>
smoke screens to silently tread,<br>
and balms to soothe our severed heads?<br>
<br>
The noble savage crowned<br>
after his slaughter,<br>
by plaque on hallowed ground.<br>
<br>
Unpublished stays the tract<br>
that swallowed its author.<br>
Her solace crushed to pass...<br>