<b>Honest Jim</b><br>
<br>
Some just see the stars<br>
as spots on their glasses,<br>
each night circling the passes<br>
huddled over a chart.<br>
Trusting all they've marked;<br>
when new wisdom clashes,<br>
they'll waver on which to discard.<br>
<br>
Stuck on sheets and pens,<br>
building no trial models,<br>
numbers point and they follow,<br>
feelers inching ahead.<br>
They watched as we wobbled<br>
down rocky dead ends,<br>
our best hunches toppled again!<br>
<br>
Surveying the seabed<br>
from glass-bottom boats,<br>
they cautiously hope not to drown.<br>
We take in a deep breath<br>
to splash in the moat,<br>
and raise up our scopes from the ground.<br>
<br>
No one seized the well<br>
or snuck uninvited;<br>
methods just prove short-sighted,<br>
fortunes unfairly dealt.<br>
The day's work suffices,<br>
we shape nothing else.<br>
The rest is for time to tell!<br>
<br>
Clouds shall be seeded<br>
and whirlwinds contained,<br>
when men lose all faith in their dance.<br>
Gouged by the seasons<br>
or felled in a day,<br>
a pillar's erased from the past.<br>