<b>Rosalind's Mosaic Path</b><br>
<br>
Rosalind woke one musty afternoon<br>
from a leaner's sleep, retracing paths confused.<br>
She pushed her feet into the avenues,<br>
as stubborn years unscrolled.<br>
<br>
Besides, a room is darkest come the evening time.<br>
With the brazen entry of a reading light,<br>
an aging sunbeam digs in for a fight,<br>
as all who fear the cold.<br>
<br>
A toast to teamwork, then the sprinters were off,<br>
and a hurdle was she who heard no pistol shot.<br>
Vaulting from her wings, and in a fistful caught,<br>
torn ribbons theirs to wear.<br>
<br>
And how the pavement's age shows in crow's feet prints!<br>
Its trampled face forever known to flinch.<br>
A shackled gaze which hardened into squints,<br>
as all who bear the glare.<br>
<br>
Oh dandelion,<br>
through bursted crack,<br>
in youth's defiance<br>
pushed its roots down<br>
amongst the giants,<br>
but leaves no patch.<br>
Now slouched with balding crown,<br>
days whittled to the ground...<br>
<br>
And were these scribbled clouds once clues<br>
to riddles found in open view,<br>
traced through each new day's gauze?<br>
In one fit of haste, all truth was lost.<br>
And will the teeming hundreds hear a tale of humbled greed?<br>
A solitary huntress saw no forest for her trees.<br>
So blind to any hunches but the busywork of bees!<br>
In silence, guilty screams...<br>
<br>
Rosalind gathers up her fractured stones.<br>
with edges polished in a tumbling cone,<br>
to press in mortar for a pathway home,<br>
her great mosaic planned.<br>
<br>
But could each new tile hide another divide<br>
for time to seal her Pepper's ghost inside?<br>
Ever hers to crawl where others safely slide!<br>
She eyes the curb askance.<br>
<br>
Oh pacifier,<br>
its pledge to nurse,<br>
now crushed by tires,<br>
in curbside shadows.<br>
As steppingstones prior<br>
all fade in worth,<br>
but still may proudly know<br>
their greater good has grown...<br>
<br>
The crispy leaves of brisk Septembers<br>
nip the heels like crackling embers.<br>
Smiles for finches heard,<br>
forever so few favourite words!<br>
Like scribes of ancient tablets tumbled from our infant hands.<br>
Our lives to fetch the fragments, sketching etchings sieved from sand<br>
in palimpsestic pamphlets future lives may never glance.<br>
Yet science stays intact...<br>