<b>Last Labours</b><br>
<br>
In an obstetrics ward,<br>
by a watch unwound,<br>
buried sounds of the born lift each page.<br>
As a clamp for cords<br>
ties the slack in her gown,<br>
words give way to warmth and they fade.<br>
<br>
Lost like a Sanskrit poet<br>
whose longings should translate to rhyme.<br>
A carved ruin once decoded<br>
shall tell but one history through time.<br>
<br>
And was hers the wasted womb?<br>
A nursery turned reading room?<br>
Collapsed to an early tomb from the climb...<br>
<br>
Through groggy fog she greets<br>
a glint in arm outstretched,<br>
and steels her chest for the stethoscope's frost.<br>
Till clearer eyes see beads<br>
round a young deacon's neck.<br>
The fool, shooed from his deed, leaves a cross.<br>
<br>
The finches we save by feeding<br>
have more young to starve come the storms.<br>
Are lived lives as self-defeating,<br>
once set upon pathways deformed?<br>
<br>
A flock on a red eye flight,<br>
cragged knuckles of bloodless white.<br>
The sun's golden band slips off its jilted bride...<br>
<br>
"We've scanned the uterine wall<br>
to find the tumour spread,<br>
into a croquet ball now just days..."<br>
The murmured voices stall<br>
as she lifts up her head,<br>
then exhale into the hall where they fade.<br>
<br>
Its fear makes the beast look bigger;<br>
only fears of our own call its bluff.<br>
But now with no fear left in her...<br>
She gently caresses the lump.<br>
<br>
Braced for an exit wound,<br>
no will guides the eggshell tooth.<br>
A mast on her hatchling moon<br>
to broadcast this nightfall's news.<br>
And on through the spinning black,<br>
a lone train speeds on its track.<br>
Release sadly heaves these seeds from her back...<br>
<br>
The glass remains unfogged,<br>
much like this Brussels morn.<br>
Her virus model gleams throughout Heysel Square.<br>
Paulinas join the throng.<br>
Will one draw crowds of her own<br>
someday, perhaps the next World's Fair?<br>