<b>Whale Fall</b><br>
<br>
I've swam along the echoed wakes<br>
of a thousand rumoured ancients.<br>
Like gravel gently raked<br>
all around my stonewalled sides,<br>
I too shall wear away to places<br>
where the strange shapes lie.<br>
<br>
Sun seekers slashed the canvas sky,<br>
thus spilling twilight tendrils.<br>
Our schools in seizures dried,<br>
so towards the shoals I fed.<br>
As shallow Indies ebbed to pebbles,<br>
I saw my corpus wrecked.<br>
<br>
Would trusty pitchforks in hand<br>
prod for sighs sighed unknown?<br>
Fates rotting in sand,<br>
from fears fled to land<br>
tugging heartaches in tow?<br>
Or merely harvest these bones?<br>
<br>
To shield lit islands, thin moon shuts.<br>
Thus sunk by heaven's eyelid,<br>
my cries shall crease the dusk,<br>
an unfolded crane I'll die.<br>
In dreams I too am crowned an island,<br>
where the strange shapes lie.<br>
<br>
Beneath the sargassum hills,<br>
where no light's columns reach,<br>
a lone city builds,<br>
its masons and mills<br>
humming heartaches to sleep,<br>
down in the dark, yawning deep.<br>