<h1>Rosalind Franklin</h1>

<div class="btn-group" dropdown is-open="status.isopen">

  <a href="#" ng-hide="currentSongIndex == 0" ng-click="switchSong(-1)" class="btn btn-info"><i class="glyphicon glyphicon-arrow-left"></i></a>

  <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
    {{songTitles[currentSongIndex]}} <span class="caret"></span>
  </button>

  <a href="#" ng-hide="currentSongIndex == songTitles.length - 1" ng-click="switchSong(1)" class="btn btn-info"><i class="glyphicon glyphicon-arrow-right"></i></a>

  <ul class="dropdown-menu" role="menu">
    <li ng-repeat="title in songTitles"><a href="#" ng-click="changeSong($index)">{{title}}</a></li>
  </ul>

  <a href="#" ng-click="playSong(currentSongIndex)" class="btn btn-info">Load Song</a>

</div>

<div>
  <tabset justified="true">
    <tab heading="Comic"><div ng-include src="'views/rosalind/comic.html'"></div></tab>
    <tab heading="Lyrics"><div ng-include src="'views/rosalind/' + songUrls[currentSongIndex] + '.html'"></div></tab>
    <tab heading="Scores"><div ng-include src="'views/rosalind/scores.html'"></div></tab>
  </tabset>
</div>