<div class="container" ng-app="BobtailApp">

  <div>
    <ul class="temp-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/yearling">Yearling</a></li>
      <li><a href="/rosalind">Rosalind</a></li>
    </ul>
  </div>

  <ng-view></ng-view>

</div>