<div class="container" ng-app="BobtailApp">

  <div>
    <ul class="temp-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/yearling">Yearling</a></li>
      <li><a href="/rosalind">Rosalind</a></li>
    </ul>
  </div>

  <div class="audio-player" plangular="https://soundcloud.com/bennett-lin/willy-the-cocoa">
    <ul>
      <li ng-repeat="track in tracks">
        <button
          ng-click="playPause($index)"
          ng-class="{'active': player.playing === track.src}">
          {{track.title}}
        </button>
      </li>
    </ul>
    <div ng-if="!track">Loading...</div>

    <button ng-click="previous()">Previous</button>
    <button ng-click="playPause()">Play/Pause</button>
    <button ng-click="next()">Next</button>

    <progressbar animate="false"
      value ="currentTime / duration * 100 || 0"
      ng-click="seek($event)"
      ng-value="currentTime / duration">
      <small>{{ currentTime | hhmmss }} | {{ duration | hhmmss }}</small>
    </progressbar>
  </div>

  <div ng-view class="app-page-view"></div>

</div>